Rainbow Flow
[{"id":"44e73b98.ebb774","type":"yeelight-compat-hue-out","z":"c8a251f7.c56df8","name":"","server":"4fce5ac3.2b3144","x":820,"y":180,"wires":[]},{"id":"36d94d98.4f3762","type":"debug","z":"c8a251f7.c56df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":60,"wires":[]},{"id":"9ebf3050.c4a4a","type":"yeelight-compat-hue-state","z":"c8a251f7.c56df8","name":"","server":"4fce5ac3.2b3144","x":990,"y":60,"wires":[["36d94d98.4f3762"]]},{"id":"724977ce.05bf7","type":"function","z":"c8a251f7.c56df8","name":"Red","func":"var on =true\nvar bri = 204 \nvar colormode = \"ct\"\nvar hex = \"#FF0000\"\nvar sat = 133\n\nmsg.payload={\n        \"on\": on,\n        \"bri\": bri,\n        \"colormode\":colormode,\n        \"hex\": hex,\n        \"sat\": sat,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["594c4d89.3782d4","44e73b98.ebb774","6cb5afbb.67a71"]]},{"id":"594c4d89.3782d4","type":"debug","z":"c8a251f7.c56df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":140,"wires":[]},{"id":"6cb5afbb.67a71","type":"delay","z":"c8a251f7.c56df8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":200,"wires":[["dd27c2bd.691"]]},{"id":"dd27c2bd.691","type":"function","z":"c8a251f7.c56df8","name":"Green","func":"var on =true\nvar bri = 204 \nvar colormode = \"ct\"\nvar hex = \"#00FF00\"\nvar sat = 133\n\nmsg.payload=\n    {\n        \"on\": on,\n        \"bri\": bri,\n        \"colormode\":colormode,\n        \"hex\": hex,\n        \"sat\": sat,\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["44e73b98.ebb774","465c1e31.dac4c","594c4d89.3782d4"]]},{"id":"465c1e31.dac4c","type":"delay","z":"c8a251f7.c56df8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":260,"wires":[["7ba4984f.6d9978"]]},{"id":"7ba4984f.6d9978","type":"function","z":"c8a251f7.c56df8","name":"Blue","func":"var on =true\nvar bri = 204 \nvar colormode = \"ct\"\nvar hex = \"#FFFFFF\"\nvar sat = 133\n\nmsg.payload=\n    {\n        \"on\": on,\n        \"bri\": bri,\n        \"colormode\":colormode,\n        \"hex\": hex,\n        \"sat\": sat,\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":320,"wires":[["44e73b98.ebb774","74b059a6.97c0a8","594c4d89.3782d4"]]},{"id":"74b059a6.97c0a8","type":"delay","z":"c8a251f7.c56df8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":320,"wires":[["25266267.e1f7a6"]]},{"id":"25266267.e1f7a6","type":"function","z":"c8a251f7.c56df8","name":"WHITE","func":"var on =true\nvar bri = 204 \nvar colormode = \"ct\"\nvar hex = \"#FFFFFF\"\nvar sat = 133\n\nmsg.payload=\n    {\n        \"on\": on,\n        \"bri\": bri,\n        \"colormode\":colormode,\n        \"hex\": hex,\n        \"sat\": sat,\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":380,"wires":[["44e73b98.ebb774"]]},{"id":"d0ad4318.3dc098","type":"ui_button","z":"c8a251f7.c56df8","name":"","group":"a9942d8d.ab401","order":1,"width":0,"height":0,"passthru":false,"label":"Rainbow Effect 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"str","topic":"","x":110,"y":200,"wires":[["724977ce.05bf7"]]},{"id":"a5a73fa9.841878","type":"ui_button","z":"c8a251f7.c56df8","name":"","group":"a9942d8d.ab401","order":3,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":450,"y":920,"wires":[["17ffcc49.668d2c"]]},{"id":"17ffcc49.668d2c","type":"function","z":"c8a251f7.c56df8","name":"default color","func":"var on =true\nvar bri = 204 \nvar colormode = \"ct\"\nvar hex = \"#FFFFFF\"\nvar sat = 133\n\nmsg.payload=\n    {\n        \"on\": on,\n        \"bri\": bri,\n        \"colormode\":colormode,\n        \"hex\": hex,\n        \"sat\": sat,\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":920,"wires":[["44e73b98.ebb774"]]},{"id":"e9b33084.fa9f28","type":"ui_button","z":"c8a251f7.c56df8","name":"","group":"a9942d8d.ab401","order":2,"width":0,"height":0,"passthru":false,"label":"Rainbow Effect 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"str","topic":"","x":90,"y":520,"wires":[["5191d27a.77f644"]]},{"id":"5191d27a.77f644","type":"function","z":"c8a251f7.c56df8","name":"Random Color","func":"var on =true\nvar bri = 204 \nvar colormode = \"ct\"\nvar hex=\"#\"+Math.floor(Math.random()*16777215).toString(16)\nvar sat = 133\nvar i=0\nvar loop=5\n\nmsg.payload={\n        \"on\": on,\n        \"bri\": bri,\n        \"colormode\":colormode,\n        \"hex\": hex,\n        \"sat\": sat,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":520,"wires":[["c09a99d6.55042","44e73b98.ebb774","7d8838b3.71e3f8"]]},{"id":"8720f61a.861998","type":"function","z":"c8a251f7.c56df8","name":"Random Color","func":"var on =true\nvar bri = 204 \nvar colormode = \"ct\"\nvar hex=\"#\"+Math.floor(Math.random()*16777215).toString(16)\nvar sat = 133\nvar i=0\nvar loop=5\n\nmsg.payload={\n        \"on\": on,\n        \"bri\": bri,\n        \"colormode\":colormode,\n        \"hex\": hex,\n        \"sat\": sat,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":580,"wires":[["e0f009b2.fd1d9","44e73b98.ebb774"]]},{"id":"af44413f.3dee4","type":"function","z":"c8a251f7.c56df8","name":"Random Color","func":"var on =true\nvar bri = 204 \nvar colormode = \"ct\"\nvar hex=\"#\"+Math.floor(Math.random()*16777215).toString(16)\nvar sat = 133\nvar i=0\nvar loop=5\n\nmsg.payload={\n        \"on\": on,\n        \"bri\": bri,\n        \"colormode\":colormode,\n        \"hex\": hex,\n        \"sat\": sat,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":640,"wires":[["61557d9f.152d34","44e73b98.ebb774"]]},{"id":"d8b93086.8502b8","type":"function","z":"c8a251f7.c56df8","name":"Random Color","func":"var on =true\nvar bri = 204 \nvar colormode = \"ct\"\nvar hex=\"#\"+Math.floor(Math.random()*16777215).toString(16)\nvar sat = 133\nvar i=0\nvar loop=5\n\nmsg.payload={\n        \"on\": on,\n        \"bri\": bri,\n        \"colormode\":colormode,\n        \"hex\": hex,\n        \"sat\": sat,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":700,"wires":[["27a56be3.7af904","44e73b98.ebb774"]]},{"id":"b86108c.bdf8ef8","type":"function","z":"c8a251f7.c56df8","name":"Random Color","func":"var on =true\nvar bri = 204 \nvar colormode = \"ct\"\nvar hex=\"#\"+Math.floor(Math.random()*16777215).toString(16)\nvar sat = 133\nvar i=0\nvar loop=5\n\nmsg.payload={\n        \"on\": on,\n        \"bri\": bri,\n        \"colormode\":colormode,\n        \"hex\": hex,\n        \"sat\": sat,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":760,"wires":[["9750f122.d40ff","44e73b98.ebb774"]]},{"id":"b16b06b3.fea158","type":"function","z":"c8a251f7.c56df8","name":"WHITE","func":"var on =true\nvar bri = 204 \nvar colormode = \"ct\"\nvar hex = \"#FFFFFF\"\nvar sat = 133\n\nmsg.payload=\n    {\n        \"on\": on,\n        \"bri\": bri,\n        \"colormode\":colormode,\n        \"hex\": hex,\n        \"sat\": sat,\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":820,"wires":[["44e73b98.ebb774"]]},{"id":"c09a99d6.55042","type":"delay","z":"c8a251f7.c56df8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":520,"wires":[["8720f61a.861998"]]},{"id":"e0f009b2.fd1d9","type":"delay","z":"c8a251f7.c56df8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":580,"wires":[["af44413f.3dee4"]]},{"id":"61557d9f.152d34","type":"delay","z":"c8a251f7.c56df8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":640,"wires":[["d8b93086.8502b8"]]},{"id":"27a56be3.7af904","type":"delay","z":"c8a251f7.c56df8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":700,"wires":[["b86108c.bdf8ef8"]]},{"id":"9750f122.d40ff","type":"delay","z":"c8a251f7.c56df8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":760,"wires":[["b16b06b3.fea158"]]},{"id":"7d8838b3.71e3f8","type":"debug","z":"c8a251f7.c56df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":460,"wires":[]},{"id":"4fce5ac3.2b3144","type":"yeelight-compat-hue-config","z":"c8a251f7.c56df8","hostname":"192.168.0.14","port":"55443","name":""},{"id":"a9942d8d.ab401","type":"ui_group","z":"c8a251f7.c56df8","name":"Yeelight Smart Bulb","tab":"c06bab07.769fb","order":1,"disp":true,"width":"6","collapse":false},{"id":"c06bab07.769fb","type":"ui_tab","z":"c8a251f7.c56df8","name":"Office","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
